<form 
    action="" 
    class="login-form" 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="h1 mg60">Вход</div>
    <label class="control-label mg16">
        Telegram username
        <input type="text" placeholder="Введите логин" class="control-input" formControlName="username">
    </label>

    <label class="control-label mg32">
        Password
        <input type="password" placeholder="Введите пароль" class="control-input" formControlName="password">
    </label>

    <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img src="/assets/images/login-logo.svg" alt="logo" class="login-form__logo">